* {
    padding: 0;
    margin: 0;
}


/* General */
body {
    background-color: darkslategray;
    color: white;
    
}

/* unvisited link */
a:link {
    color:white;
  }
  
  /* visited link */
  a:visited {
    color: yellow;
  }
  
  /* mouse over link */
  a:hover {
    color:crimson;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../images/header.jpg");
    padding: 2rem;
    width: 100%;
    
}

header h1 {
    
    background-color: slateblue;
    padding: 0.5rem;
    border-radius: 8px;
}

nav {
    /* margin: 1rem; */
}

nav ul {
    margin: 1rem;
    padding-right: 1rem;
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding: 0.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site-section {
    background-color:steelblue;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 25rem;
    border-radius: 8px;
    
}

.site-section h2 {
    background-color:rebeccapurple;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color:slateblue;
    padding: 1.5rem;
    width: 100%;
}
