* {
    padding: 0;
    margin: 0;
}


/* General */
body {
    background-color: #0077B6;
    color: 03045E;
    
}

/* unvisited link */
a:link {
    color:white;
  }
  
  /* visited link */
  a:visited {
    color: yellow;
  }
  
  /* mouse over link */
  a:hover {
    color:crimson;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #012A4A;
    padding: 2rem;
    width: 100%;
    
}

header h1 {
    
    background-color: #2C7DA0;
    color: #A9D6E5;
    padding: 0.5rem;
    border-radius: 8px;
}

/* Nav bar */
nav {
    /* margin: 1rem; */
}

nav ul {
    margin: 1rem;
    padding-right: 1rem;
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding: 0.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

/* Style shared by all boxes on the page */
.page-box {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 8px;
}
/* Style shared by all main category boxes */
.main-box {
    background-color: #012A4A;
    color: #A9D6E5;
}

.main-box h2 {
    background-color: #2C7DA0;
    color: #A9D6E5;
    text-align: center;
}

/* Style shared by all sub-boxes inside main boxes */
.sub-box {
    background-color: #00B4D8;
    color: #012A4A;
}

.sub-box h3 {
    background-color: #0077B6;
    color: #A9D6E5;
    text-align: center;
}


/* footer */
footer {
    text-align: center;
    background-color: #012A4A;
    color: #A9D6E5;
    padding: 1.5rem;
    width: 100%;
}
